{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>信息搜索-拼单</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'webapps/css/nprogress.css' %}">
<link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
	{% include "webapps/header.html" %}
<div class="container">
		<div class="col-md-12 column" >
		<div class="my-panel" style="min-height: 700px; height: auto;">
		<div class="my-panel-header">
			<ul class="nav nav-tabs">
				<li>
					<a href="{% url 'webapps:searchPage' 'carpool' %}">找Carpool</a>
				</li>
				<li>
					<a href="{% url 'webapps:searchPage' 'useditem' %}">淘二手宝贝</a>
				</li>
				<li>
					<a href="{% url 'webapps:searchPage' 'sublease' %}">求Sublease</a>
				</li>
				<li>
					<a href="{% url 'webapps:searchPage' 'houserent' %}">求合租</a>
				</li>
				<li>
                    <a href="{% url 'webapps:searchPage' 'usedcar' %}">找二手车</a>
				</li>
				<li class="active">
					<a href="{% url 'webapps:searchPage' 'mergeorder' %}">求拼单</a>
				</li>				
			</ul>
		</div>
	<div class="my-panel-body">	
	<div class="row clearfix">
		<div class="col-md-4 column">
                        <div class="my-search-row">
                            <label class="col-sm-5 my-search-option-title">截止日期:</label>
                            <div class="col-sm-7" style="padding: 0px;">
							<input placeholder="请选择日期" data-format="date" data-field="duedate" data-type="exact" data-value="无限制" type="text" class="datepicker form-control" id="date" name="duedate"/>
							</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="my-search-row">
                        	<label class="col-sm-5 my-search-option-title">关键字:</label>
                           	<div class="col-sm-7" style="padding: 0px;">
                            <input type="text" class="form-control" id="keyword" />
							</div>
                            <div class="clearfix"></div>
                        </div>
                        {% for row in options %}
									<div class="my-search-row">
									<label class="col-sm-5 my-search-option-title">{{ row.name }} :</label>
									<div class="col-sm-7 my-search-option-body">
                            	{% for option in row.options %}
									<a class="my-search-option" data-format="{{ row.format }}" data-field="{{ row.field }}" data-type="{{ row.type }}" {% for k,v in option.items %} data-{{k}}="{{v}}" {% endfor %}><span class="my-search-option-space"></span><span>{{ option.label }}</span></a><br>
								{% endfor %}
                           			</div>
                           	        <div class="clearfix"></div>
                            	</div>
            			{% endfor %}
		</div>
		<div class="col-md-8 column">
		<div id="result" style="min-height: 500px;">
					{% for record in records %}
        			<blockquote class="my-blockquote" onClick="window.open('{% url 'webapps:getDealDetail' record.id %}')">
						<p>
							<span style="color: #6f5499;" class="col-sm-3"><label>{{ record.caption }}</label></span><span class="col-sm-9">{{ record.title }}</span><span class="clearfix"></span>
						</p> <small>发布于{{ record.post_date|date:'Y-m-d' }} <cite>Source Title</cite></small>
					</blockquote>
					{% endfor %}  
		</div>   	
			<div id="loadmore" style="border-top:1px solid #ddd; text-align: center; padding: 30px 0px; {% if not config.has_next %} display: none; {% endif %}">
				<h3 style="color: #555555;">滑动到底部加载更多...</h3>
			</div>
			<div id="nomore" style="border-top:1px solid #ddd; text-align: center; padding: 30px 0px; {% if config.has_next %} display: none; {% endif %}">
				<h3 style="color: #555555;">没有更多结果了...</h3>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</div>
		{% include "webapps/footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src='{% static 'webapps/js/nprogress.js' %}'></script>
<script src='{% static 'webapps/js/site.js' %}'></script>
<script>
	$('#date').datepicker({
         	language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            format: "yyyy-mm-dd",
			todayHighlight: true,
			startDate: "0",
    }).on('hide', function(){
		if ($(this).val()=="")
			$(this).data('value', '无限制');
		else
			$(this).data('value', $(this).val());
		search($(this));
	});
	var sconfig={};
	var end={{ config.end }}, has_next={{ config.has_next|lower }};
	var surl='{% url 'webapps:ajaxSearch' 'mergeorder' %}';
	$(document).ready(function () {
		initOption();
	})
	$(window).scroll(function () {
		if (parseFloat($(window).height()) + parseFloat($(window).scrollTop()) >= $(document).height() - 20 && has_next) {
			loadMoreDeal();
		}
	})
</script>
</body>
</html>
