{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>信息搜索-二手宝贝</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'webapps/css/nprogress.css' %}">
    <link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
	{% include "webapps/header.html" %}
<div class="container">
		<div class="col-md-12 column" >
		<div class="my-panel">
			<div class="my-panel-header">
			<ul class="nav nav-tabs">
				<li>
					 <a href="{% url 'webapps:searchCarpool' %}">Carpool</a>
				</li>
				<li class="active">
					 <a href="{% url 'webapps:searchUsedItem' %}">二手宝贝</a>
				</li>
				<li>
					 <a href="{% url 'webapps:searchSublease' %}">Sublease</a>
                </li>
                <li>
					 <a href="{% url 'webapps:searchHouseRent' %}">求合租</a>
                </li>
                <li>
					 <a href="{% url 'webapps:searchUsedcar' %}">二手车</a>
                </li>
                <li>
					 <a href="{% url 'webapps:searchMergeOrder' %}">拼单</a>
                </li>
			</ul>
			</div>
			<div class="my-panel-body">
                          	{% for row in options %}
                            	<div class="my-search-row">
									<label class="col-sm-2 my-search-option-title">{{ row.name }} :</label>
									<div class="col-sm-10 my-search-option-body">
                            	{% for option in row.options %}
									<a class="my-search-option" data-format="{{ row.format }}" data-field="{{ row.field }}" data-type="{{ row.type }}" {% for k,v in option.items %} data-{{k}}="{{v}}" {% endfor %}><span class="my-search-option-space"></span><span>{{ option.label }}</span></a>
								{% endfor %}
                           			</div>
                           	        <div class="clearfix"></div>
                            	</div>
                            {% endfor %}
			</div>
		</div>
		<div id="result" class="row" style="min-height: 400px;">
			{% for record in records %}
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div id="" class="thumbnail" style="cursor: pointer;"
                         onClick="window.open('{% url 'webapps:getDealDetail' record.id %}')"
                         onMouseOver="this.style.border='1px solid #6f5499'"
                         onMouseOut="this.style.border='1px solid #ddd'">
						<img src="{{ record.img_url }}" style="width: 100%; height:225px;">
                        <div class="caption">
                            <h4 style="color: #6f5499">
                                ${{ record.price }}
                            </h4>
                            <p class="col-sm-3" align="left" style="padding: 0px; color: #999;" >
                            	描述:<br>
                            	日期:
                            </p>
                            <p class="col-sm-9" align="right">
                                {{ record.title }}<br>
                                {{ record.post_date|date:'Y-m-d' }}
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
		</div>	
			
	</div>
</div>
	{% include "webapps/footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='{% static 'webapps/js/nprogress.js' %}'></script>
<script>
	var sconfig={};
	var end={{ config.end }}, has_next={{ config.has_next|lower }};
	$(document).ready(function () {
		$('.my-search-option-body').each(function(){$(this).children().first().attr('class','my-search-option-active')});
	});
	$('.my-search-option').click(function(){
		$(this).parent().find('.my-search-option-active').attr('class','my-search-option');
		$(this).attr('class','my-search-option-active');
		var field = $(this).data('field'), type = $(this).data('type'), format = $(this).data('format');
		if (type=="exact")
			sconfig[field]=[type, format, $(this).data('value')]
		if (type=="between")
			sconfig[field]=[type, format, $(this).data('min'), $(this).data('max')];
		sconfig.end=0;
		$.ajax({
			url : '{% url 'webapps:ajaxUseditemSearch' %}',
			data: sconfig,
			type : 'GET',
			dataType: 'JSON',
			success: function(data){
				$('#result').empty();
				for (i in data.records) {
						var txt="<div class='col-sm-6 col-md-4 col-lg-3'>\
											<div class='thumbnail' style='cursor: pointer;' onClick=\"window.open('/deal/" + data.records[i].id + "/detail')\" onMouseOver=\"this.style.border='1px solid black'\" onMouseOut=\"this.style.border='1px solid #ddd'\">\
											<img src='" + data.records[i].img_url + "' style='width: 100%; height: 225px;'>\
						  					<div class='caption'>\
												<h4 style='color: #6f5499'>$" + data.records[i].price + "</h4>\
												<p class='col-sm-3' align='left' style='padding: 0px; color: #999' >描述:<br>日期:</p>\
											<p class='col-sm-9' align='right'>\
												"+data.records[i].title+"<br>\
												"+data.records[i].post_date+"\
											</p>\<div class='clearfix'></div>\
											</div></div></div>";
                        $('#result').append(txt);
                    };
			},
		});
		
	});
	$(document).ajaxStart(function(){
		NProgress.start();
	});
	$(document).ajaxStop(function(){
		NProgress.done();
	});
	
</script>
</body>
</html>
