<!doctype html>
<html>
<head>
    {% load static %}
<meta charset="utf-8">
<title>信息搜索-二手车</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
	{% include "webapps/header.html" %}
<div class="container">
	<div class="col-md-12">
	<div class="my-panel">
            <div class="my-panel-header" style="background-color: white">
				<h4>二手车&gt;</h4>
            </div>
            <div id="leftDiv" style="padding:20px 10px; background-color: #eee;">
                <form role="form">
                   	<div class="form-group">
                   		<label class="col-sm-2">车辆年份:</label>
                   		<a class="col-sm-1">1年以内</a>
                   		<a class="col-sm-1">1-3年</a>
                   		<a class="col-sm-1">3-5年</a>
                   		<a class="col-sm-1">5-10年</a>
                   		<a class="col-sm-1">10年以上</a>
                   		<div class="clearfix"></div>
					</div>
                    <div class="form-group">
                        <label>车辆年份</label>
                        <select onChange="search()" name="year" class="form-control js-example-basic-single s2" id="year">
                            <option value="0">无限制</option>
                            <option value="1">1年以内</option>
                            <option value="2">1-3年</option>
                            <option value="3">3-5年</option>
                            <option value="4">5-10年</option>
                            <option value="5">10年以上</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-2">制造商</label>
                            <div class="col-sm-4">
                            <select onChange="search()" class="form-control js-example-basic-single" id="car_brand"
                                    name="car_brand">
                            </select>
                            </div> 
                            <label class="col-sm-2">型号</label>
                            <div class="col-sm-4">
                            <select onChange="search()" class="form-control js-example-basic-single" disabled="disabled" id="car_model"
                                    name="car_model">
                            </select>
							</div>
                    </div>
                    <div class="form-group">
                        <label>里程</label>
                        <select onChange="search()" name="mileage" class="form-control js-example-basic-single s2"
                                id="mileage">
                            <option value="0">无限制</option>
                            <option value="1">1万迈以内</option>
                            <option value="2">1-3万迈</option>
                            <option value="3">3-5万迈</option>
                            <option value="4">5-10万迈</option>
                            <option value="5">10万迈以上</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>售价范围</label>
                        <select onChange="search()" name="price" class="form-control js-example-basic-single s2"
                                id="price">
                            <option value="0">无限制</option>
                            <option value="1">5000以内</option>
                            <option value="2">5000-10000刀</option>
                            <option value="3">10000-15000刀</option>
                            <option value="4">15000-20000刀</option>
                            <option value="5">20000刀以上</option>
                        </select>
                    </div>
                </form>
            </div>
	</div>
        <div id="result" class="row" style="min-height: 400px;">
            {% for record in records %}
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div id="" class="thumbnail" style="cursor: pointer;"
                         onClick="window.open('{% url 'webapps:getDealDetail' record.id %}')"
                         onMouseOver="this.style.border='2px solid #6f5499'"
                         onMouseOut="this.style.border='1px solid #ddd'">
                        {% if record.img %}
                            <img src="{{ record.img.image.url }}" alt="300*200"
                                 style="width: 100%; height: 225px;">
                        {% else %}
                            <img src="{% static 'webapps/image/image_error.svg' %}"
                                 style="width: 100%; height: 225px;">
                        {% endif %}
                        <div class="caption">
                            <h4>
                                {{ record.title|safe }}
                            </h4>
                            <p>
                                {{ record.year }}<br>
                                {{ record.car_brand }}<br>
                                {{ record.car_model }}<br>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="loading" id="loading" style="display: none; height:200px;">
            <center>
                <svg viewBox="0 0 120 120" version="1.1">
                    <g id="circle" class="g-circles g-circles--v1">
                        <circle id="12" transform="translate(35, 16.698730) rotate(-30) translate(-35, -16.698730) "
                                cx="35" cy="16.6987298" r="10"></circle>
                        <circle id="11" transform="translate(16.698730, 35) rotate(-60) translate(-16.698730, -35) "
                                cx="16.6987298" cy="35" r="10"></circle>
                        <circle id="10" transform="translate(10, 60) rotate(-90) translate(-10, -60) " cx="10" cy="60"
                                r="10"></circle>
                        <circle id="9" transform="translate(16.698730, 85) rotate(-120) translate(-16.698730, -85) "
                                cx="16.6987298" cy="85" r="10"></circle>
                        <circle id="8" transform="translate(35, 103.301270) rotate(-150) translate(-35, -103.301270) "
                                cx="35" cy="103.30127" r="10"></circle>
                        <circle id="7" cx="60" cy="110" r="10"></circle>
                        <circle id="6" transform="translate(85, 103.301270) rotate(-30) translate(-85, -103.301270) "
                                cx="85" cy="103.30127" r="10"></circle>
                        <circle id="5" transform="translate(103.301270, 85) rotate(-60) translate(-103.301270, -85) "
                                cx="103.30127" cy="85" r="10"></circle>
                        <circle id="4" transform="translate(110, 60) rotate(-90) translate(-110, -60) " cx="110" cy="60"
                                r="10"></circle>
                        <circle id="3" transform="translate(103.301270, 35) rotate(-120) translate(-103.301270, -35) "
                                cx="103.30127" cy="35" r="10"></circle>
                        <circle id="2" transform="translate(85, 16.698730) rotate(-150) translate(-85, -16.698730) "
                                cx="85" cy="16.6987298" r="10"></circle>
                        <circle id="1" cx="60" cy="10" r="10"></circle>
                    </g>
                    <use xlink:href="#circle" class="use"/>
                </svg>
                <h3>稍候，正在加载中...</h3>
            </center>
        </div>
        <div class="alert alert-dismissable alert-info" id="nomoreresults" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>抱歉！</h4>
            <strong>没有更多结果了。</strong>
        </div>
	</div>
</div>
</div>
	{% include "webapps/footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        var start, end = 10;
        var has_next ={{ config.has_next|lower }};
        $(document).ready(function () {
			$("#car_brand").select2({
				minimumResultsForSearch: Infinity,
				placeholder: "请选择车辆品牌",
				ajax: {
					url: "{% url 'webapps:getCarBrand' %}",
					dataType: 'json',
					delay: 250,
					data: function (params) {
						return {
							q: params.term, // search term
							page: params.page
						};
					},
					processResults: function (data) {
						return {
							results: data.records,
						};
					},
					cache: true,
				},
			}).on("select2:select", function () {
				$('#car_model').val("");
				$("#car_model").empty();
			});
			$('#car_model').select2({
				minimumResultsForSearch: Infinity,
				placeholder: "请选择车辆型号",
				ajax: {
					url: "{% url 'webapps:getCarModel' %}",
					dataType: 'json',
					delay: 250,
					data: function (params) {
						var id = $('#car_brand').val();
						return {
							q: params.term,
							brand_id: id,
						};
					},
					processResults: function (data) {
						console.log(data);
							return {
								results: data.records,
							};
					},
					cache: true,
				},
			});
			$('.s2').select2({
				minimumResultsForSearch: Infinity,
			})
            $(window).scroll(function () {
                if (parseFloat($(window).height()) + parseFloat($(window).scrollTop()) >= $(document).height() - 20 && has_next) {
                    var config = {
                        'year': $('#year option:selected').val(),
                        'mileage': $('#mileage option:selected').val(),
                        'car_brand': $('#car_brand option:selected').text(),
                        'car_model': $('#car_model option:selected').text(),
                        'price': $('#price option:selected').val(),
                        'end': end,
                    };
                    $('#loading').fadeIn();
                    has_next = false;
                        $.ajax({
                            type: 'GET',
                            dataType: 'JSON',
                            data: config,
                            url: "{% url 'webapps:ajaxSearchUsedcar' %}",
                            success: function (data) {
                                if (data.status = 'success') {
                                    $('#loading').fadeOut();
                                    for (i in data.records) {
                                        $('#result').append("<div class='col-sm-6 col-md-4 col-lg-3'>\
											<div class='thumbnail' style='cursor: pointer;' onClick=\"window.open('/deal/" + data.records[i].id + "/detail')\"\ onMouseOver='this.style.border='1px solid black'' onMouseOut='this.style.border='1px solid #ddd''>\
											<img src='" + data.records[i].img_url + "' alt='300*200' style='width: 100%; height: 225px;'>\
						  					<div class='caption'>\
												<h3>" + data.records[i].title + "</h3>\
												<p>" + data.records[i].year + "<br>" + data.records[i].car_brand + "<br>" + data.records[i].car_model + "<br></p>\
											  </div></div></div>");
                                    }
                                    ;
                                    has_next = data.has_next;
                                    end = data.end;
                                    if (has_next == false)
                                        $('#nomoreresults').fadeIn();
                                }
                                ;
                            }
                        });
                }
                ;
            });
        });
        function search() {
            var config = {
                'year': $('#year option:selected').val(),
                'mileage': $('#mileage option:selected').val(),
                'car_brand': $('#car_brand option:selected').val(),
                'car_model': $('#car_model option:selected').val(),
                'price': $('#price option:selected').val(),
                'end': 0,
            };
            $('#nomoreresults').fadeOut();
            $('#result').empty();
            $('#loading').fadeIn();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                data: config,
                url: "{% url 'webapps:ajaxSearchUsedcar' %}",
                success: function (data) {
                    $('#loading').fadeOut();
                    for (i in data.records) {
                        $('#result').append("<div class='col-sm-6 col-md-4 col-lg-3'>\
											<div class='thumbnail' style='cursor: pointer;' onClick=\"window.open('/deal/" + data.records[i].id + "/detail')\" onMouseOver='this.style.border='1px solid black'' onMouseOut='this.style.border='1px solid #ddd''>\
											<img src='" + data.records[i].img_url + "' alt='300*200' style='width: 100%; height: 225px;'>\
						  					<div class='caption'>\
												<h3>" + data.records[i].title + "</h3>\
												<p>" + data.records[i].year + "<br>" + data.records[i].car_brand + "<br>" + data.records[i].car_model + "<br></p>\
											  </div></div></div>");
                    };
                    has_next = data.has_next;
                    end = 10;
                    if (has_next == false)
                        $('#nomoreresults').fadeIn();
                },
            });
        };
    </script>
</body>
</html>
