@charset "UTF-8";
img.my-img-sm {
    width: 300px !important;
    height: 200px !important;
}
a, h1, h2, h3, h4, h5, h6, h7, table, label, select, option, p, button {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}
div.my-panel {
    border: 1px solid #ddd !important;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
	margin-top: 20px;
	background-color: white!important;
}
.my-panel-header {
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ddd;
}
.my-panel-body {
    padding: 20px;
}
.my-user-leftbar {
    min-height: 600px;
    height: auto;
	margin-top: 30px;
}
.my-panel-title {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}
.my-search-row{
	padding: 9px 0px 10px;
	border-top: 1px dashed #ddd;
}
a.my-search-option{
	margin: 0px 40px 0px 0px;
	color: black;
	cursor: pointer;
}
a.my-search-option:hover{
	color:red;
	text-decoration:none;
}
a.my-search-option-active{
	margin: 0px 40px 0px 0px;
	color:red;	
}
a.my-search-option-active:hover{
	text-decoration:none;
}
.my-search-option-title{
	color: #999;
	margin: 0px;
}
svg {
    height: 100px;
    width: 100px;
    margin: 0px;
    overflow: visible;
    /*   border: 1px solid red; */
}

.g-circles {
    -webkit-transform: scale(0.9) translate(7px, 7px);
    -ms-transform: scale(0.9) translate(7px, 7px);
    transform: scale(0.9) translate(7px, 7px);
}

circle {
    fill: dodgerblue;
    fill-opacity: 0;
    -webkit-animation: opacity 1.2s linear infinite;
    animation: opacity 1.2s linear infinite;
}

circle:nth-child(12n + 1) {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

circle:nth-child(12n + 2) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

circle:nth-child(12n + 3) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

circle:nth-child(12n + 4) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

circle:nth-child(12n + 5) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

circle:nth-child(12n + 6) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

circle:nth-child(12n + 7) {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

circle:nth-child(12n + 8) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

circle:nth-child(12n + 9) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

circle:nth-child(12n + 10) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

circle:nth-child(12n + 11) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

circle:nth-child(12n + 12) {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

@-webkit-keyframes opacity {
    3% {
        fill-opacity: 1;
    }

    75% {
        fill-opacity: 0;
    }
}

@keyframes opacity {
    3% {
        fill-opacity: 1;
    }

    75% {
        fill-opacity: 0;
    }
}

@-webkit-keyframes opacity-stroke {
    10% {
        stroke-opacity: 1;
    }

    85% {
        stroke-opacity: 0;
    }
}

@keyframes opacity-stroke {
    10% {
        stroke-opacity: 1;
    }

    85% {
        stroke-opacity: 0;
    }
}

@-webkit-keyframes transform {
    10% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes transform {
    10% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@-webkit-keyframes transform-2 {
    40% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    60% {
        stroke-width: 20;
    }
}

@keyframes transform-2 {
    40% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    60% {
        stroke-width: 20;
    }
}

