<!doctype html>
<html>
<head>
<meta charset="utf-8">
    {% load static %}
<title>详细信息</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
	{% include "webapps/header.html" %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-offset-1 col-md-10 column">
			<div class="my-panel">
			<div class="my-panel-header" style="text-align: center;">
				<p style="padding-top:10px; font-size: 24px; color:#6f5499; font-weight: 550; "> {{ config.deal_type }} </p>
			</div>
			<div class="my-panel-body" style="min-height: 600px;">
			<div>
			<h3>文字描述</h3>
			<center><table class="table table-hover table-striped" style="width: 90%">
				<thead>
					<tr>
						<th>
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for key, value in text.items %}
					
						<tr>
							<td> {{ key }} </td>
							{% if '日期' in key %}
							<td> {{ value|date:'Y-m-d' }} </td>
							{% else %}
							<td> {{ value }} </td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table></center>    
           	</div>      
            <div style="margin-top: 50px;">
           	{% if images %}
          	<h3>图片描述</h3>
            <center><table class="table table-hover table-striped" style="width: 90%">
					<thead>
						<tr>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>
						<div class="carousel slide" id="carousel-971961" style="margin-top: 20px;">
									<ol class="carousel-indicators">
										{% for img in images %}
											<li data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} data-target="#carousel-971961"></li>
										{% endfor %}
									</ol>
									<div class="carousel-inner">
										{% for img in images %}
										<div class="item {% if forloop.first %} active {% endif %}">
											<img alt="" src="{{ img.image.url }}" />
										</div>
										{% endfor %}
									</div> 
									<a class="left carousel-control" href="#carousel-971961" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-971961" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
						</td></tr>
					</tbody>
				</table></center>
            
           	{% endif %}
            </div>
            

            <div id="contact_info" style="margin-top: 50px;">
             <h3>用户联系信息</h3>
            	<center><table class="table table-hover table-striped" style="width: 90%">
					<thead>
						<tr>
							<th>
							</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody id="location">
					{% if config.is_author or config.is_saved %}
						{% if config.email %}
							<tr><td>邮箱：</td><td>{{config.email}}</td></tr>
						{% endif %}
						{% if config.phone %}
							<tr><td>电话：</td><td>{{config.phone}}</td></tr>
						{% endif %}
						{% if config.wechat %}
							<tr><td>微信：</td><td>{{config.wechat}}</td></tr>
						{% endif %}
					{% else %}
						<tr><td>点击收藏后即可查看联系方式</td><td></td></tr>
					{% endif %}
					</tbody>
				</table></center>
            </div>            
            </div>
            
            <div class="form-group" style="margin-top: 50px;">
            	{% if not config.is_author %}
            	<button id="save" class="btn btn-default btn-success btn-lg btn-block" {% if config.is_saved %} style="display: none" {% endif %}>我感兴趣</button>
            	<button id="unsave" class="btn btn-default btn-warning btn-lg btn-block" {% if not config.is_saved %} style="display: none" {% endif %}>不感兴趣</button>
            	{% else %}

            	<div class="col-sm-6"><button id="edit" class="btn btn-default btn-warning btn-lg btn-block" {% if config.is_overdue %} style="display: none" {% endif %}>修改</button></div>
            	<div class="col-sm-6"><button id="stop" class="btn btn-default btn-danger btn-lg btn-block" {% if config.is_overdue %} style="display: none" {% endif %}>下架</button></div>
            	<div class="clearfix"></div>
            	
            	<div class="col-sm-6"><button id="repost" class="btn btn-default btn-success btn-lg btn-block" {% if not config.is_overdue %} style="display: none" {% endif %}>重新发布</button></div>
            	<div class="col-sm-6"><button id="delete" class="btn btn-default btn-danger btn-lg btn-block" {% if not config.is_overdue %} style="display: none" {% endif %}>彻底删除</button></div>
            	<div class="clearfix"></div>
            	{% endif %}
            	<br>
            </div>
            
            </div>
		</div>
		<div class="col-md-1 column">
		</div>
	</div>
</div>
    {% include "webapps/footer.html" %}
<div class="modal fade" id="stopcfmModel" style="position: fixed; top:30%; left:0%;">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要停止发布该条信息吗？</p>
                </div>
                <div class="modal-footer">
                    <a id="stopcfmBtn" class="btn btn-success" data-dismiss="modal">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delcfmModel" style="position: fixed; top:30%; left:0%;">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">重要提示</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要彻底删除该条信息吗？</p>
                </div>
                <div class="modal-footer">
                    <a id="delcfmBtn" class="btn btn-success" data-dismiss="modal">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	$('.carousel').carousel({  
    	interval: false,
	}); 
	$('#save').click(function(){
		if ($('#loginInfo').length<=0){
			alert("您尚未登录，登录后才能查看联系信息！");
			window.location.href="{% url 'webapps:loginPage' %}/?next={{ request.get_full_path }}";
		}
		else{
			$('#save').attr('style','display:none');
			$('#unsave').attr('style','');
			$.ajax({
				type: 'GET',
				dataType: 'JSON',
				data: {'deal_id': {{ config.deal_id }} },
				url: "{% url 'webapps:saveDeal' %}",
				success: function(data){
					if (data.status='success'){
						$('#location').empty();
						var t1,t2,t3;
						if (data.contact.email)
							t1="<tr><td>邮箱：</td><td>"+data.contact.email+"</td></tr>";
						if (data.contact.phone)
							t2="<tr><td>电话：</td><td>"+data.contact.phone+"</td></tr>";
						if (data.contact.wechat)
							t3="<tr><td>微信：</td><td>"+data.contact.wechat+"</td></tr>";
						$('#location').append(t1,t2,t3);
					};
				}
			});
		}
	});
	$('#unsave').click(function(){
		if ($('#loginInfo').length<=0){
			alert("您尚未登录，登录后才能查看联系信息！");
			window.location.href="{% url 'webapps:loginPage' %}/?next={{ request.get_full_path }}";
		}
		else{
			$('#unsave').attr('style','display:none');
			$('#save').attr('style','');
			$.ajax({
				type: 'GET',
				data: {'deal_id': {{ config.deal_id }} },
				url: "{% url 'webapps:unsaveDeal' %}",
			});
			$('#location').empty();
		}
	});
	$('#stop').click(function(){
		$('#stopcfmModel').modal();
		$('#stopcfmBtn').bind("click", function () {
				window.location.href="{% url 'webapps:stopDeal' config.deal_id %}?next={{ request.path }}";
        });
	});
	$('#edit').click(function(){
		window.location.href="{% url 'webapps:editDeal' config.deal_id %}?next={{ request.path }}";
	});
	$('#delete').click(function(){
		$('#delcfmModel').modal();
		$('#delcfmBtn').bind('click', function(){
			window.location.href="{% url 'webapps:deleteDeal' config.deal_id %}?next={% url 'webapps:getuserinfo' %}";
		});
	});
	$('#repost').click(function(){
		window.location.href="{% url 'webapps:repostDeal' config.deal_id %}?next={{ request.path }}";
	});
</script>
</body>
</html>
