<div class="container-fluid" style="background-color:#444444; height: 24px; text-align: center; cursor: pointer;" onClick="javascript:scroll(0,0)"><span class="glyphicon glyphicon-chevron-up" style="font-size: 18px; color: white; line-height: 25px;"></span></div>
<div class="container-fluid" style="background-color:#2a2730">
	<div class="container" style="color: #ddd;">
		<div class="col-md-12 colum" style="margin: 30px 20px 10px 20px;">
			<div class="col-sm-2"><p style="font-size:12px;"><span class="glyphicon glyphicon-envelope"></span> 问题反馈</p></div>
			<div class="col-sm-2"><p style="font-size:12px;">加入我们</p></div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-12 column" style="padding: 20px 20px;">              
                <center>
            	<p style="font-size:12px;">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2017 易活 <br>Leung, Inc.    
            	</p></center>
		</div>
	</div>
</div>
