{% load static %}
<div class="container-fluid" style="background-color: white">
<div class="container" >
	<a href="/"><img src="{% static 'webapps/image/logo.png' %}"></a>
	<form id="siteSearch" class="navbar-form navbar-right" role="search" style="margin-top: 20px;" action="{% url 'webapps:siteSearch' %}" method="get">
						<div class="form-group">
							<input name="q" type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default"> 快速搜索</button>
	</form>
</div>
</div>
<div class="container-fluid"
     style="color:#cdbfe3;background-color:#6f5499;background-image:-webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));background-image:-webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);background-image:-o-linear-gradient(top,#563d7c 0,#6f5499 100%);background-image:linear-gradient(to bottom,#563d7c 0,#6f5499 100%)">
    <div class="container" style="padding: 0px 0px 0px 0px;">
        <nav class="navbar navbar-default" role="navigation"
             style="border:#FFF 0px solid; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border-radius:0; background:rgba(0,0,0,0); ">
            <div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                     <span class="sr-only"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                    <a class="navbar-brand" href="/"><font color="DCF7A1">易活</font></a>
				</div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="DCF7A1">我要找信息<strong
                                    class="caret"></strong></font></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="{% url 'webapps:searchPage' 'carpool' %}">找Carpool</a>
								</li>
								<li>
									 <a href="{% url 'webapps:searchPage' 'useditem' %}">淘二手宝贝</a>
								</li>
								<li>
									 <a href="{% url 'webapps:searchPage' 'sublease' %}">求Sublease</a>
								</li>
								<li>
									 <a href="{% url 'webapps:searchPage' 'houserent' %}">求合租</a>
								</li>
								<li>
                                    <a href="{% url 'webapps:searchPage' 'usedcar' %}">找二手车</a>
								</li>
								<li>
									 <a href="{% url 'webapps:searchPage' 'mergeorder' %}">求拼单</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="DCF7A1">我要发信息<strong
                                    class="caret"></strong></font></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="/post/carpool/page">我有Carpool</a>
								</li>
								<li>
									 <a href="/post/useditem/page"> 我有二手宝贝</a>
								</li>
								<li>
									 <a href="/post/sublease/page">我要Sublease</a>
								</li>
								<li>
									 <a href="/post/houserent/page">我要找人合租</a>
								</li>
								<li>
									 <a href="/post/usedcar/page">我有二手车</a>
								</li>
								<li>
									 <a href="/post/mergeorder/page">我要拼单</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li>
                            <p id="loginInfo" class="navbar-text"><font color="DCF7A1">Hi， {{ request.user.first_name }}</font>
                            </p>
                        </li>
						<li>
                             <a href="/user/getuserinfo">
                                 <font color="DCF7A1">个人中心</font>
                             </a>
						</li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font color="DCF7A1">选项<strong
                                    class="caret"></strong></font></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="/user/changeuser">切换用户</a>
								</li>
								<li>
									 <a href="/user/logout">退出登陆</a>
								</li>
							</ul>
						</li>
                        {%  else %}
                            <li>
                                <a href="/user/loginpage">
                                    <font color="DCF7A1">登录</font>
                                </a>
                            </li>
                            <li>
                                <a href="/user/loginpage">
                                    <font color="DCF7A1">注册</font>
                                </a>
                            </li>
                        {% endif %}
					</ul>

				</div>
		</nav>
	</div>
</div> 
	