<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>甘村信息网</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
{% load static %}
<body>
<div class="container">
   	{% include "webapps/header.html" with name=request.session.username %}
    <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-795962">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-795962">
					</li>
					<li data-slide-to="1" data-target="#carousel-795962">
					</li>
					<li data-slide-to="2" data-target="#carousel-795962">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="{% static 'webapps/image/test.jpg' %}" />
						<div class="carousel-caption">
							<h4>
								最全的信息
							</h4>
							<p>
								网站信息全面，满足留学生活各种需求！
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{% static 'webapps/image/test.jpg' %}" />
						<div class="carousel-caption">
							<h4>
								最新的信息
							</h4>
							<p>
								网站信息更新快，每天超过一千条新的信息等你发掘！
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{% static 'webapps/image/test.jpg' %}" />
						<div class="carousel-caption">
							<h4>
								最准的信息
							</h4>
							<p>
								网站信息与微信账户关联，确保信息准确，减少不必要的风险！
							</p>
						</div>
					</div>
				</div> 
                <a class="left carousel-control" href="#carousel-795962" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
                <a class="right carousel-control" href="#carousel-795962" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="jumbotron well">
				<h1>
					欢迎来到甘村信息网！
				</h1>
				<p>
					在这里你可以找到村里你需要的各种信息！
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">常见Q&A</a>
				</p>
                <div class="tabbable" id="tabs-773187">
				<ul class="nav nav-tabs">
					<li class="active" style="width:50%; text-align:center; height:50px;">
						 <a href="#panel-686396" data-toggle="tab">
                         我要找信息</a>
					</li>
					<li style="width:50%; text-align:center; height:50px;">
						 <a href="#panel-524610" data-toggle="tab">我要发信息</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-686396" >
						<table class="table" frame="void" style="margin:10px auto; text-align:center; background-color:white">
							<tbody>
								<tr>
									<td width="50%">
										找Carpool
									</td>
									<td width="50%">
										淘二手宝贝
									</td>
								</tr>
								<tr>
									<td>
										求Sublease
									</td>
									<td>
										求合租
									</td>
								</tr>
								<tr>
									<td>
										找二手车
									</td>
									<td>
										求拼单
									</td>
								</tr>
							</tbody>
                       </table>
					</div>
					<div class="tab-pane" id="panel-524610">
						<table class="table" frame="void" style="margin:10px auto; text-align:center; background-color:white">
							<tbody>
								<tr>
									<td width="50%">
										我有Carpool
									</td>
									<td width="50%">
										我有二手宝贝
									</td>
								</tr>
								<tr>
									<td>
										我要转租
									</td>
									<td>
										求合租
									</td>
								</tr>
								<tr>
									<td>
										我有二手车
									</td>
									<td>
										我要拼单
									</td>
								</tr>
							</tbody>
                       </table>
					</div>
				</div>
		</div>
			</div>
			
	</div>
    </div>
    {% include "webapps/footer.html" %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
