<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>个人中心</title>
    <link href="{% static 'webapps/image/favicon.ico' %}" rel="icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>
<body>
	{% include "webapps/header.html" %}
    <div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					个人中心 <small>主页</small>
				</h1>
			</div>
		</div>
	</div>
    <div class="row clearfix">
        <div class="col-md-2 column my-user-leftbar">
			<div class="panel-group" id="panel-322642">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-322642" href="#panel-element-461426"><label>个人信息修改</label></a>
					</div>
					<div id="panel-element-461426" class="panel-collapse collapse">
						<div class="panel-body">
                            <label><a href="{% url 'webapps:editProfile' %}">联系方式修改</a></label><br>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-322642" href="#panel-element-943900"><label>我发布的帖子</label></a>
					</div>
					<div id="panel-element-943900" class="panel-collapse collapse">
						<div class="panel-body">
                            <label><a href="{% url 'webapps:getuserinfo' %}">全部<font
                                    color="red">({{ config.countPost.total }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=carpool">Carpool<font
                                    color="red">({{ config.countPost.carpool }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=useditem">二手宝贝<font
                                    color="red">({{ config.countPost.useditem }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=sublease">Sublease<font
                                    color="red">({{ config.countPost.sublease }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=houserent">合租<font
                                    color="red">({{ config.countPost.houserent }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=usedcar">二手车<font
                                    color="red">({{ config.countPost.usedcar }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=mergeorder">拼单<font
                                    color="red">({{ config.countPost.mergeorder }})</font></a></label><br>
						</div>
					</div>
				</div>
                <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-322642" href="#panel-element-111111"><label>我感兴趣的帖子</label></a>
					</div>
					<div id="panel-element-111111" class="panel-collapse collapse">
						<div class="panel-body">
                            <label><a href="{% url 'webapps:getuserinfo' %}?saved=True">全部<font
                                    color="red">({{ config.countSave.total }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=carpool&saved=True">Carpool<font
                                    color="red">({{ config.countSave.carpool }})</font></a></label><br>
                            <label><a
                                    href="{% url 'webapps:getuserinfo' %}?type=useditem&saved=True">二手宝贝<font
                                    color="red">({{ config.countSave.useditem }})</font></a></label><br>
                            <label><a
                                    href="{% url 'webapps:getuserinfo' %}?type=sublease&saved=True">Sublease<font
                                    color="red">({{ config.countSave.sublease }})</font></a></label><br>
                            <label><a
                                    href="{% url 'webapps:getuserinfo' %}?type=houserent&saved=True">合租<font
                                    color="red">({{ config.countSave.houserent }})</font></a></label><br>
                            <label><a href="{% url 'webapps:getuserinfo' %}?type=usedcar&saved=True">二手车<font
                                    color="red">({{ config.countSave.usedcar }})</font></a></label><br>
                            <label><a
                                    href="{% url 'webapps:getuserinfo' %}?type=mergeorder&saved=True">拼单<font
                                    color="red">({{ config.countSave.mergeorder }})</font></a></label><br>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="col-md-10 column" style="border-left: 2px solid #eee; min-height: 600px; height: auto;">
            <div class="my-panel">
                <div class="my-panel-header" style="border-bottom: none;">
                <ul class="nav nav-tabs" style="padding-left: 25%">
                    <li {% if not config.is_overdue %} class="active"{% endif %}
                                                       style="width: 35%; text-align: center; ">
                        <a href="{% url 'webapps:getuserinfo' %}?type={{ config.type }}&saved={{ config.is_save }}">正在发布</a>
                    </li>
                    <li {% if config.is_overdue %} class="active"{% endif %} style="width: 35%; text-align: center;">
                        <a href="{% url 'webapps:getuserinfo' %}?type={{ config.type }}&saved={{ config.is_save }}&overdue=True">已停止发布</a>
                    </li>
                </ul>
            </div>
                <div class="my-panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
                        <th>简要</th>
						<th>分类</th>
						<th>发布日期</th>
						<th>有效日期</th>
                        <th>热度</th>
                        <th>操作</th>
					</tr>
				</thead>
				<tbody id="content">
					{% for record in records %}
					<tr>
                        <td>{{ record.title|safe }}</td>
						<td>{{ record.type }}</td>
                        <td>{{ record.create_time|date:'Y-m-d' }}</td>
						<td>{{ record.expire_time|date:'Y-m-d' }}</td>
						<td>{{ record.hot_index }}</td>
						<td>
                            <a target="_blank" href="{% url 'webapps:getDealDetail' record.id %}"
                               class="btn btn-xs btn-info">详情</a>
                            {% if not config.is_save %}
                                {% if not config.is_overdue %}
                            <a target="_blank" href="{% url 'webapps:editDeal' record.id %}"
                               class="btn btn-xs btn-warning">修改</a>
                                    <a onClick="stopCfm({{ record.id }})" class="btn btn-xs btn-danger">下架</a>
                                {% else %}
                                    <a href="{% url 'webapps:repostDeal' record.id %}" class="btn btn-xs btn-success">重新发布</a>
                                    <a onClick="delCfm({{ record.id }})" class="btn btn-xs btn-danger">彻底删除</a>
                            {% endif %}
                            {% else %}
                                <a onClick="unsaveDeal({{ record.id }})" class="btn btn-xs btn-warning">移除</a>
                            {% endif %}
                        </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
            </div>
            <div class="loading" id="loading" style="display: none; height:100px;">
                <center><h3>稍候，正在加载中...</h3></center>
            </div>
            <div class="alert alert-dismissable alert-success" id="nomoreresults" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>注意啦！</h4>
                <strong>没有更多结果了。</strong>
            </div>
            </div>
		</div>

    </div>
</div>

    <div class="modal fade" id="stopcfmModel" style="position: fixed; top:30%; left:0%;">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要停止发布该条信息吗？</p>
                </div>
                <div class="modal-footer">
                    <a id="stopcfmBtn" class="btn btn-success" data-dismiss="modal">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delcfmModel" style="position: fixed; top:30%; left:0%;">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">重要提示</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要彻底删除该条信息吗？</p>
                </div>
                <div class="modal-footer">
                    <a id="delcfmBtn" class="btn btn-success" data-dismiss="modal">确定</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
{% include 'webapps/footer.html' %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	var start, end=10;
	var has_next={{ config.has_next|lower }};
	$(document).ready(function(){
		$(window).scroll(function(){
			if (parseFloat($(window).height()) + parseFloat($(window).scrollTop())>=$(document).height()-20 && has_next){
				$('#loading').fadeIn();
				has_next=false,
				$.ajax({
					type: 'GET',
					dataType: 'JSON',
					data: {'type': '{{ config.type }}', 'end': end},
					url: "{% url 'webapps:loadMoreDeal' %}",
					success: function(data){
						if (data.status='success'){
							$('#loading').fadeOut();
							console.log(data);
							console.log(data.records);
							for (i in data.records){
							 $('#content').append("<tr>\
								<td>"+data.records[i].title+"</td>\
								<td>"+data.records[i].type+"</td>\
								<td>"+data.records[i].create_time+"</td>\
								<td>"+data.records[i].expire_time+"</td>\
								<td>"+data.records[i].hot_index+"</td>\
								<td>\
									<button type='button' onclick='' class='btn btn-xs btn-info'>详情</button><br>\
									<button type='button' onclick='' class='btn btn-xs btn-warning'>修改</button><br>\
									<button type='button' onclick='' class='btn btn-xs btn-danger'>删除</button><br>\
								</td>\
								</tr>\
								");
						 	};	
							has_next=data.has_next;
							end=data.end;
							if (has_next==false)
								$('#nomoreresults').fadeIn();
						};
					}
				});
			};
		});
	});
    function stopCfm(deal_id) {
        $('#stopcfmBtn').bind("click", function () {
            window.location.href = "/deal/stop/" + deal_id;
        });
        $('#stopcfmModel').modal();
    };
    function delCfm(deal_id) {
        $('#delcfmBtn').bind("click", function () {
            window.location.href = "/deal/delete/" + deal_id;
        });
        $('#delcfmModel').modal();
    };
    function unsaveDeal(deal_id) {
        $.ajax({
            method: "get",
            url: "{% url 'webapps:unsaveDeal' %}",
            data: {'deal_id': deal_id}
        });
        window.location.reload();
    };
</script>
</body>
</html>
