<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>发布信息</title>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'webapps/css/bootstrapValidator.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
	{% include "webapps/header.html" %}
<div class="container-fluid" style="background-color: #F0F0F0;">
<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="my-panel">
				<ul class="nav nav-tabs">
                    <li class="active">
						 <a href="/post/carpool/page">Carpool</a>
					</li>
					<li>
						 <a href="/post/useditem/page"> 二手宝贝</a>
					</li>
                    <li>
                    	 <a href="/post/sublease/page">Sublease</a>
                    </li>
                    <li>
                    	 <a href="/post/houserent/page">合租</a>
                    </li>
                    <li>
                    	 <a href="/post/usedcar/page">二手车</a>
                    </li>
                    <li>
                    	 <a href="/post/mergeorder/page">拼单</a>
                    </li>
				</ul>
                            <form id="form" role="form" style="margin: 10px 80px" method="post">
                            	{% csrf_token %}
								<div class="form-group">  
            						<label>出发日期 </label>  
                					<input type="text" class="datepicker form-control" id="1date" name="date"/>
        						</div>  
								<div class="form-group">
					 				<label for="datetime">出发时间</label>
                     				<input type=time class="form-control" id="1datetime" name="time"/>
								</div>
								<div class="form-group">
					 				<label for="depart_place">出发地</label>
                     				<select id="1depart" class="js-example-data-array-selected form-control" name="depart"></select>
								</div>
								<div class="form-group">
					 				<label for="destination" >目的地</label>
                     				<select class="form-control js-example-data-array-selected" id="1destination" name="destination"></select>
								</div> 
                				<div class="form-group">
					 				<label for="passenger_num" >最大乘客人数</label>
                     				<input type="number" class="form-control" id="1passenger_num" name="passenger_num" />
								</div> 
                                <div class="form-group">
					 				<label for="price" >人均价格</label>
                     				<input type="number" class="form-control" id="1price" name="price"/>
								</div> 
                                <div class="form-group">
					 				<label for="car_type" >车辆类型</label>
    								<select class="form-control js-example-basic-single" id="1car_type" name="car_type">
      									<option value="couple">双门轿车</option>
      									<option value="sedan">四门轿车</option>
      									<option value="suv">五座SUV</option>
      									<option value="7suv">7座SUV</option>
      									<option value="truck">皮卡</option>
    								</select>
								</div> 
                               	<hr>
                                <div class="form-group">
                                	<textarea class="form-control" rows="3" placeholder="备注" id="1note" name="note"></textarea>
                                </div>
                                <hr>
                                <div class="form-group">
                                	<label>联系方式选择（可多选）</label>
                                	<div class="checkbox">
										  <label>
											<input type="checkbox" value="1" name="contact_type[]">通过邮箱： {{ request.user.username }} 联系我
										  </label>
									</div>
									<div class="checkbox">
										  <label>
										  {% if not phone %}
											<input type="checkbox" value="none" disabled="disabled">您还未设置手机号码，<a href="{% url 'webapps:editProfile' %}">马上设置</a>
										  {% else %}
										  	<input type="checkbox" value="2" name="contact_type[]">通过电话： {{ phone }} 联系我
										  {% endif %}
										  </label>
									</div>
                               		<div class="checkbox">
										  <label>
										  {% if not wechat %}
											<input type="checkbox" value="none" disabled="disabled">您还未设置微信ID，<a href="{% url 'webapps:editProfile' %}">马上设置</a>
									  	  {% else %}
										  	<input type="checkbox" value="3" name="contact_type[]">通过微信ID： {{ wechat }} 联系我
										  {% endif %}
										  </label>
									</div>
                                </div>
                                <hr>
                                <div class="form-group">
                					<center> <button onClick="submitForm()" class="btn btn-block btn-info btn-default">发布</button></center>
                                </div>
							</form>
				</div>
		</div>
	</div>   
</div>
	</div>
	    {% include "webapps/footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static 'webapps/js/bootstrapValidator.js' %}"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>
	$(document).ready(function() {
		$(".datepicker").datepicker({
            language: "zh-CN",
            autoclose: true,//选中之后自动隐藏日期选择框
            clearBtn: true,//清除按钮
            format: "yyyy-mm-dd",
			todayHighlight: true,
			startDate: "0",
        }).on('hide',function(e) { 
			$('#form').data('bootstrapValidator') 
			.updateStatus('date', 'NOT_VALIDATED',null) 
			.validateField('date'); 
		});
		var data=[{id:0, text:"Gainesville"}];
		$("#1depart").select2({
        	data:data
    	});
		$("#1destination").select2({
        	data:data
    	});
		$(".js-example-basic-single").select2({
			minimumResultsForSearch: Infinity	
		});
		$("#form").bootstrapValidator({
			message:'表单不合法',
			feedbackIcons:{
                	valid: 'glyphicon glyphicon-ok',
                	invalid: 'glyphicon glyphicon-remove',
                	validating: 'glyphicon glyphicon-refresh'
            },
			fields: {
				date:{
					message: '请选择有效的日期',
					validators:{
						notEmpty:{
							message:'出发日期不能为空',
						}	
					},
				},
				time: {
					validators:{
						notEmpty:{
							message: '出发时间不能为空',
						}
					}	
				},
				depart: {
					validators:{
						notEmpty:{
							message: '出发地不能为空',
						}
					}	
				},
				destination: {
					validators:{
						notEmpty:{
							message: '目的地不能为空',
						}
					}	
				},
				passenger_num:{
					message: '请输入有效的人数',
					validators: {
						notEmpty: {
							message: '乘客人数不能为空',
						},
						between: {
							min: 1,
							max: 7,
							message: '乘客人数应在1-7之间'
						}
					}
				},
				price: {
					message:'请输入人均价格',
					validators: {
						notEmpty: {
							message: '价格不能为空'
						},
						between: {
							min:0,
							max:100,
							message: '价格只能在0-100之间'
						}
					}
				},
				'contact_type[]': {
					validators: {
						choice:{
							min: 1,
							max: 3,
							message: '请选择1到3种联系方式'
						}
					}
				},
			}
		});
	});
	function submitForm() {
		$("#form").bootstrapValidator('validate');
        if ($('#form').data('bootstrapValidator').isValid()) {
            $("#form").attr('action', '{% url 'webapps:carpoolPost' %}');
            $('#form').ajaxSubmit({
                success: function (data) {
                    if (data.status == 'success') {
                        var str = "/redirect?info=发布成功&next=/deal/" + data.deal_id + "/detail";
                        console.log(str);
                        setTimeout("", 2000);
                        window.location.href = "/redirect?info=发布成功&next=/deal/" + data.deal_id + "/detail";
                    }
                }
            });
        }
        else
            alert("请正确填写表单！");
    };
</script>
</body>
</html>

