<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布信息</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/css/fileinput.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapps/css/bootstrapValidator.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

<body>
    {% include "webapps/header.html" %}
<div class="container-fluid" style="background-color: #F0F0F0;">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
               <div class="publish-title">
                <h1>信息发布</h1>
        </div>
           <div class="my-panel">
            <ul class="nav nav-tabs">
                <li>
                    <a href="/post/carpool/page">Carpool</a>
                </li>
                <li>
                    <a href="/post/useditem/page"> 二手宝贝</a>
                </li>
                <li>
                    <a href="/post/sublease/page">Sublease</a>
                </li>
                <li>
                    <a href="/post/houserent/page">合租</a>
                </li>
                <li>
                    <a href="/post/usedcar/page">二手车</a>
                </li>
                <li class="active">
                    <a href="/post/mergeorder/page">拼单</a>
                </li>
            </ul>
            <form id="form" role="form" style="margin: 20px 80px" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>活动网址</label>
                    <input name="website" type="url" class="form-control" id="6website"/>
                </div>
                <div class="form-group">
                    <label>商品类型</label>
                    <select name="order_type" class="form-control js-example-basic-single" id="6orderType">
                        <option>化妆品</option>
                        <option>零食</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>拼单截止日期</label>
                    <input name="duedate" type="text" class="datepicker form-control" placeholder="请选择日期"/>
                </div>
                <div class="form-group">
                    <textarea name="note" class="form-control" rows="3" placeholder="备注" id="6note"></textarea>
                </div>
                <hr>
                <div class="form-group">
                    <label>联系方式选择（可多选）</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="contact_type[]">通过邮箱： {{ request.user.username }} 联系我
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {% if not phone %}
                                <input type="checkbox" value="none" disabled="disabled">您还未设置手机号码，
                                <a href="/user/set/phone">马上设置</a>
                            {% else %}
                                <input type="checkbox" value="2" name="contact_type[]">通过电话： {{ phone }} 联系我
                            {% endif %}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {% if not wechat %}
                                <input type="checkbox" value="none" disabled="disabled">您还未设置微信ID，
                                <a href="/user/set/wechatid">马上设置</a>
                            {% else %}
                                <input type="checkbox" value="3" name="contact_type[]">通过微信ID： {{ wechat }} 联系我
                            {% endif %}
                        </label>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <center>
                        <button id="submitbtn" onClick="submitForm()" class="btn btn-block btn-info btn-default">发布
                        </button>
                    </center>
                </div>
            </form>
            </div>
        </div>
    </div>
	</div>
</div>
    {% include "webapps/footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/js/locales/zh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static 'webapps/js/bootstrapValidator.js' %}"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>
   function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };
    var csrftoken = getCookie('csrftoken');

    $(document).ready(function () {
        $(".datepicker").datepicker({
            orientation: "bottom",
            language: "zh-CN",
            autoclose: true,//选中之后自动隐藏日期选择框
            clearBtn: true,//清除按钮
            format: "yyyy-mm-dd",
            startDate:"0",
            maxViewMode: 0,
            minViewMode: 0,
        }).on('hide', function (e) {
            $('#form').data('bootstrapValidator')
                .updateStatus('duedate', 'NOT_VALIDATED', null)
                .validateField('duedate');
        });
        $(".js-example-basic-single").select2({
            minimumResultsForSearch: Infinity
        });
        $("#form").bootstrapValidator({
            message: '表单不合法',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                website: {
                    validators: {
                        notEmpty: {
                            message: '活动网址不能为空',
                        },
                    }
                },
                duedate: {
                    validators: {
                        notEmpty: {
                            message: '截止日期不能为空',
                        }
                    }
                },
                'contact_type[]': {
                    validators: {
                        choice: {
                            min: 1,
                            max: 3,
                            message: '请选择1到3种联系方式'
                        }
                    }
                }
            }
        });
    });
    function submitForm() {

        if ($('#form').data('bootstrapValidator').isValid()) {
            $("#form").attr('action', '/post/houserent/submit');
            $('#form').ajaxSubmit({
                success: function (data) {
                    if (data.status == 'success') {
                        var str = "/redirect?info=发布成功&next=/deal/" + data.deal_id + "/detail";
                        console.log(str);
                        setTimeout("", 2000);
                        window.location.href = str;
                    }
                }
            });
        }
        else
            alert("请正确填写表单！");
    };
</script>
</body>
</html>