<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>信息修改</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/css/fileinput.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapps/css/bootstrapValidator.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webapps/css/site.css' %}">
</head>

{% include "webapps/header.html" %}
<body>
<div class="container-fluid" style="background-color: #F0F0F0;">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="edit-title">
                    <h1>信息修改</h1>
                </div>
                <div class="my-panel">
                    <form id="form" role="form" style="margin: 20px 80px" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
 <div class="form-group" id="community_div">
                            <label>所在小区</label><br>
                            <label class="col-sm-1" style="width:4%">州</label>
                            <div class="col-sm-1">
                                <select id="state" class="form-control location-state"
                                        name="state"
                                        data-placeholder="{{ deal.houserent.community.state.abbr }}"></select>
                            </div>
                            <label class="col-sm-1" style="width:6%">城市</label>
                            <div class="col-sm-2">
                                <select id="city" class="form-control"
                                        name="city" data-placeholder="{{ deal.houserent.community.city.name }}"></select>
                            </div>
                            <label class="col-sm-1" style="width:10%">小区名称</label>
                            <div class="col-sm-4">
                                <select id="community" class="form-control"
                                        name="community_id"
                                        data-placeholder="{{ deal.houserent.community.name }}"></select>
                            </div>
                            <div class="col-sm-1">
                                <a id="new_community_btn" class="btn btn-default "
                                   onclick="showNewLocation()">找不到小区？</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="new_location" style="margin-top: 15px;margin-bottom: 15px;" hidden>
                            <label>自定义小区</label><br>
                            <input id="have_new_location" value=0 name="have_new_location" hidden>
                            <label class="col-sm-1" style="width:4%">州</label>
                            <div class="row">
                                <div class="col-sm-1">
                                    <select id="new_state" class="form-control location-state must-fill"
                                            name="new_state_id" style="width: 52px"></select>
                                </div>
                                <label class="col-sm-1" style="width:6%">城市</label>
                                <div class="col-sm-3">
                                    <input id="new_city" class="form-control must-fill" name="new_city"
                                           placeholder="城市英文名称,如:Miami">
                                </div>
                                <label class="col-sm-1" style="width:6%">地点</label>
                                <div class="col-sm-4">
                                    <input id="new_community" class="form-control must-fill" name="new_community"
                                           placeholder="小区英文名称，如：Campus Lodge">
                                </div>
                            </div>
                            <div style="margin-top: 8px">
                                <label class="col-sm-1" style="width:6%">地址</label>
                                <div class="col-sm-9">
                                    <input id="new_address" name="new_address" class="form-control"
                                           placeholder="选填，格式Street,City,State Zipcode. 如：1000 SW 62nd Blvd, Gainesville, FL 32607">
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label>户型:</label>
                            <div class="form-inline">
                                <select name="bedroom_num" class="form-control js-example-basic-single" id="numOfBed">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <label>卧室</label>
                                <select name="bathroom_num" class="form-control js-example-basic-single"
                                        id="numOfBath">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                                <label>卫生间</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>月租</label>
                            <input name="rent" type=text class="form-control" id="rent">
                        </div>
                        <div class="form-group">
                            <label>开始日期</label>
                            <input id="start_date" name="start_date" type="text" class="datepicker form-control"
                                   placeholder="请选择日期"/>
                        </div>
                        <div class="form-group">
                            <label>合租时间</label>
                            <select name="duration" class="form-control js-example-basic-single" id="duration">
                                <option value="1">一个月</option>
                                <option value="3">三个月</option>
                                <option value="6">一个学期（6个月）</option>
                                <option value="12">一个学年（12个月）</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>室友性别要求</label>
                            <label class="checkbox-inline">
                                <input name="roommate_gender" type="radio" id="onlyMale" value="male">男
                            </label>
                            <label class="checkbox-inline">
                                <input name="roommate_gender" type="radio" id="onlyFemale" value="female">女
                            </label>
                            <label class="checkbox-inline">
                                <input name="roommate_gender" type="radio" id="MaleAndFemale" value="both">男女均可
                            </label>
                        </div>
                        <div class="form-group">
                            <label>需要的室友人数</label>
                            <select name="roommate_num" class="form-control js-example-basic-single" id="roommate_num">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="note" class="form-control" rows="3" placeholder="备注" id="note"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">上传房屋照片</label>
                            <input name="images" id="img" type="file" class="file" multiple>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>联系方式选择（可多选）</label>
                            <div class="checkbox">
                                <label>
                                    <input id="email" type="checkbox" value="1"
                                           name="contact_type[]">通过邮箱： {{ request.user.username }} 联系我
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {% if not phone %}
                                        <input type="checkbox" value="none" disabled="disabled">您还未设置手机号码，
                                        <a href="/user/set/phone">马上设置</a>
                                    {% else %}
                                        <input id="phone" type="checkbox" value="2" name="contact_type[]">通过电话：
                                        {{ phone }} 联系我
                                    {% endif %}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {% if not wechat %}
                                        <input type="checkbox" value="none" disabled="disabled">您还未设置微信ID，
                                        <a href="/user/set/wechatid">马上设置</a>
                                    {% else %}
                                        <input id="wechat" type="checkbox" value="3" name="contact_type[]">通过微信ID：
                                        {{ wechat }} 联系我
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-inline" style="padding-bottom: 40px;">
                            <div class="col-md-6 column">
                                <button id="submitbtn" onClick="submitForm()"
                                        class="btn btn-warning btn-default btn-block">修改
                                </button>
                            </div>
                            <div class="col-md-6 column">
                                <button onClick="window.close()" class="btn btn-default btn-primary btn-block">取消
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "webapps/footer.html" %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.3.9/js/locales/zh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static 'webapps/js/bootstrapValidator.js' %}"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };
    var csrftoken = getCookie('csrftoken');

    $(document).ready(function () {
        $(".datepicker").datepicker({
            orientation: "bottom",
            language: "zh-CN",
            autoclose: true,//选中之后自动隐藏日期选择框
            clearBtn: true,//清除按钮
            format: "yyyy-mm-dd",
            startDate: "0",
            maxViewMode: 0,
            minViewMode: 0,
        }).on('hide', function (e) {
            $('#form').data('bootstrapValidator')
                .updateStatus('start_date', 'NOT_VALIDATED', null)
                .validateField('start_date');
        });
        //below are ajax requests for location options
        $('.location-state').select2({
            minimumResultsForSearch: Infinity,
            language: "ch",
            ajax: {
                url: "{% url 'webapps:getState' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.records,
                    };
                },
                cache: true,
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
        });

        $("#city").select2({
            minimumResultsForSearch: Infinity,
            placeholder: "请选择城市",
            minimumInputLength: 1,
            ajax: {
                url: "{% url 'webapps:getCity' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    var id = $('#state').val();
                    return {
                        keyword: params.term,
                        state_id: id,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.records,
                    };
                },
                cache: true,
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
        });

        $("#community").select2({
            minimumResultsForSearch: Infinity,
            placeholder: "请选择小区",
            minimumInputLength: 1,
            ajax: {
                url: "{% url 'webapps:getLocation' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    var city_id = $('#city').val();
                    var state_id = $('#state').val();
                    return {
                        keyword: params.term,
                        city_id: city_id,
                        state_id: state_id,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.records,
                    };
                },
                cache: true,
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
        });
        $("#form").bootstrapValidator({
            message: '表单不合法',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                start_date: {
                    validators: {
                        notEmpty: {
                            message: '起始日期不能为空'
                        },
                        regexp: {
                            message: '请输入yyyy-mm-dd日期格式',
                            regexp: /^\d{4}\-\d{2}\-\d{2}$/
                        },
                    }
                },
                mustfill_location: {
                    selector: '.must-fill',
                    validators: {
                        notEmpty: {
                            message: '内容不能为空'
                        },

                    }
                },
                images:{
                  validators:{
                      file:{
                          extension:'jpeg,jpg,png,gif,bmp',
                          type:'image/jpeg,image/png,image/gif,image/x-ms-bmp',
                          maxSize: 1024*1024*2,
                          message:'只支持文件格式为jpg,png,bmp和gif且大小不超过2MB的图片'
                      }
                  }
                },
                rent: {
                    validators: {
                        notEmpty: {
                            message: '月租不能为空'
                        },
                        between: {
                            min: 0,
                            max: 10000,
                            message: '请输入正确的数值'
                        }
                    }
                },
                roommate_gender: {
                    validators: {
                        notEmpty: {
                            message: '请选择室友性别偏好'
                        }
                    }
                },
                'contact_type[]': {
                    validators: {
                        choice: {
                            min: 1,
                            max: 3,
                            message: '请选择1到3种联系方式'
                        }
                    }
                }
            }
        });
        function fillForm() {
            $('#start_date').val("{{ deal.houserent.start_date }}");
            $('#community').val("{{ deal.houserent.community.id }}");
            $('#numOfBed').val("{{ deal.houserent.bedroom_num }}");
            $('#numOfBath').val("{{ deal.houserent.bathroom_num }}");
            $('#rent').val("{{ deal.houserent.rent }}");
            $('#duration').val("{{ deal.houserent.duration }}");
            $('#roommate_num').val("{{ deal.houserent.roommate_num}}");
            $('#note').val("{{ deal.houserent.note|escapejs }}");
            {% if deal.houserent.roommate_gender == "male" %}
                $('#onlyMale').attr("checked", "true");
            {% elif deal.houserent.roommate_gender == "female" %}
                $('#onlyFemale').attr("checked", "true");
            {% else %}
                $('#MaleAndFemale').attr("checked", "true");
            {% endif %}

            {% if "1" in deal.contact_type %}
                $('#email').attr("checked", "true");
            {% endif %}
            {% if "2" in deal.contact_type %}
                $('#phone').attr("checked", "true");
            {% endif %}
            {% if "3" in deal.contact_type %}
                $('#wechat').attr("checked", "true");
            {% endif %}
            $("#form").bootstrapValidator('validate');
        };
        fillForm();
    });

    var deal_id;
    $('#img').fileinput({
        uploadUrl: "{% url 'webapps:uploadImg' %}",
        uploadAsync: false,
        language: 'zh',
        maxFileSize: 100000,
        allowedFileTypes: ['image'],
        showUpload: false,
        removeFromPreviewOnError: true,
        layoutTemplates: {
            actionUpload: '',
        },
        uploadExtraData: {'deal_id': {{ deal.id }}},
        maxFileCount: 9,
        initialPreview: [
            {% for img in images %}
                "<img src='{{ img.image.url }}' class='file-preview-image' style='max-width:100%; max-height:100%;' alt='Desert' title='{{ img.id }}'>",
            {% endfor %}
        ],
        initialPreviewConfig: [
            {% for img in images %}
                {
                    caption: '{{ img }}',
                    width: '120px',
                    url: '{% url 'webapps:deleteImage' %}',
                    key: {{ img.id }},
                },
            {% endfor %}
        ],
        {#        防止重复上传图片？#}
        overwriteInitial: false,
        ajaxSettings: {
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        },
        ajaxDeleteSettings: {
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        },
    }).on("filebatchuploadsuccess", function (event, data) {
        var response = data.response;
        if (response.status == 'success') {
            setTimeout("", 2000);
            window.location.href = "/redirect?info=修改成功&next=/deal/" + response.deal_id + "/detail";
        }
    });


    function submitForm() {

        if ($('#form').data('bootstrapValidator').isValid()) {
            $("#form").attr('action', '{% url 'webapps:editHouserent' %}');
            $('#form').ajaxSubmit({
                data: {
                    'deal_id': {{ deal.id }},
                },
                success: function (data) {
                    if (data.status == 'success') {
                        deal_id = data.deal_id;
                        $("#submitbtn").attr("disabled", true);
                        $('#img').fileinput('upload');
                    }
                }
            });
        }
        else
            alert("请正确填写表单！");
    };

    function showNewLocation() {
        $('#state').val('');
        $('#state').empty();
        $('#city').val('');
        $('#city').empty();
        $('#community').val('');
        $('#community').empty();

        if ($('#have_new_location').val() == 0)
            $('#have_new_location').val(1);
        else
            $('#have_new_location').val(0);
        if ($('#state').is('[disabled=disabled]'))
            $('#state').attr('disabled', false);
        else
            $('#state').attr('disabled', 'disabled');

        if ($('#city').is('[disabled=disabled]'))
            $('#city').attr('disabled', false);
        else
            $('#city').attr('disabled', 'disabled');

        if ($('#community').is('[disabled=disabled]'))
            $('#community').attr('disabled', false);
        else
            $('#community').attr('disabled', 'disabled');
        $('#new_location').slideToggle("slow");
    }
</script>
</body>
</html>

